In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('14100355.csv')
df

/Volumes/ExtendHFS/Anaconda/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,REF_DATE,GEO,DGUID,North American Industry Classification System (NAICS),Statistics,Data type,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976-01,Canada,2016A000011124,"Total employed, all industries",Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057603,1.1.1.1,9636.7,NaN,NaN,NaN,1
1,1976-01,Canada,2016A000011124,"Total employed, all industries",Estimate,Trend-cycle,Persons,249,thousands,3,v123355106,1.1.1.3,9667.7,NaN,NaN,NaN,1
2,1976-01,Canada,2016A000011124,"Total employed, all industries",Estimate,Unadjusted,Persons,249,thousands,3,v2057812,1.1.1.2,9271.4,NaN,NaN,NaN,1
3,1976-01,Canada,2016A000011124,"Total employed, all industries",Standard error of estimate,Seasonally adjusted,Persons,249,thousands,3,v101893652,1.1.2.1,NaN,..,NaN,NaN,1
4,1976-01,Canada,2016A000011124,"Total employed, all industries",Standard error of month-to-month change,Seasonally adjusted,Persons,249,thousands,3,v101893653,1.1.3.1,NaN,..,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587323,2021-12,British Columbia,2016A000259,Public administration [91],Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057811,11.19.1.1,143.2,NaN,NaN,NaN,1
587324,2021-12,British Columbia,2016A000259,Public administration [91],Estimate,Unadjusted,Persons,249,thousands,3,v2058020,11.19.1.2,141.4,NaN,NaN,NaN,1
587325,2021-12,British Columbia,2016A000259,Public administration [91],Standard error of estimate,Seasonally adjusted,Persons,249,thousands,3,v101894276,11.19.2.1,6.6,NaN,NaN,NaN,1
587326,2021-12,British Columbia,2016A000259,Public administration [91],Standard error of month-to-month change,Seasonally adjusted,Persons,249,thousands,3,v101894277,11.19.3.1,3.0,NaN,NaN,NaN,1
587327,2021-12,British Columbia,2016A000259,Public administration [91],Standard error of year-over-year change,Seasonally adjusted,Persons,249,thousands,3,v101894278,11.19.4.1,6.8,NaN,NaN,NaN,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587328 entries, 0 to 587327
Data columns (total 17 columns):
 #   Column                                                 Non-Null Count   Dtype
---  ------                                                 --------------   -----
 0   REF_DATE                                               587328 non-null  object
 1   GEO                                                    587328 non-null  object
 2   DGUID                                                  587328 non-null  object
 3   North American Industry Classification System (NAICS)  587328 non-null  object
 4   Statistics                                             587328 non-null  object
 5   Data type                                              587328 non-null  object
 6   UOM                                                    587328 non-null  object
 7   UOM_ID                                                 587328 non-null  int64
 8   SCALAR_FACTOR                                          587328 non-null  object
 9   SCALAR_ID                                              587328 non-null  int64
 10  VECTOR                                                 587328 non-null  object
 11  COORDINATE                                             587328 non-null  object
 12  VALUE                                                  396329 non-null  float64
 13  STATUS                                                 190999 non-null  object
 14  SYMBOL                                                 0 non-null       float64
 15  TERMINATED                                             0 non-null       float64
 16  DECIMALS                                               587328 non-null  int64
dtypes: float64(3), int64(3), object(11)
memory usage: 76.2+ MB

In [8]:
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    #print('{} - {}%'.format(col,pct_missing))
    print(col,pct_missing)

REF_DATE 0.0
GEO 0.0
DGUID 0.0
North American Industry Classification System (NAICS) 0.0
Statistics 0.0
Data type 0.0
UOM 0.0
UOM_ID 0.0
SCALAR_FACTOR 0.0
SCALAR_ID 0.0
VECTOR 0.0
COORDINATE 0.0
VALUE 0.32519988830772584
STATUS 0.6748001116922742
SYMBOL 1.0
TERMINATED 1.0
DECIMALS 0.0

In [16]:
df['REF_DATE'] = df['REF_DATE'].apply(pd.to_datetime)

In [17]:
df['Statistics'].unique()

array(['Estimate', 'Standard error of estimate',
       'Standard error of month-to-month change',
       'Standard error of year-over-year change'], dtype=object)

In [18]:
df['Data type'].unique()

array(['Seasonally adjusted', 'Trend-cycle', 'Unadjusted'], dtype=object)

In [19]:
df['GEO'].unique()

array(['Canada', 'Newfoundland and Labrador', 'Prince Edward Island',
       'Nova Scotia', 'New Brunswick', 'Quebec', 'Ontario', 'Manitoba',
       'Saskatchewan', 'Alberta', 'British Columbia'], dtype=object)

In [55]:
new_df = df[(df['GEO'] == 'Ontario') &
       (df['Data type'] == 'Seasonally adjusted') &
       (df['Statistics'] == 'Estimate') &
        (df['REF_DATE'] > '2001-12-31')]

In [56]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4560 entries, 332557 to 586943
Data columns (total 17 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   REF_DATE                                               4560 non-null   datetime64[ns]
 1   GEO                                                    4560 non-null   object
 2   DGUID                                                  4560 non-null   object
 3   North American Industry Classification System (NAICS)  4560 non-null   object
 4   Statistics                                             4560 non-null   object
 5   Data type                                              4560 non-null   object
 6   UOM                                                    4560 non-null   object
 7   UOM_ID                                                 4560 non-null   int64
 8   SCALAR_FACTOR                                          4560 non-null   object
 9   SCALAR_ID                                              4560 non-null   int64
 10  VECTOR                                                 4560 non-null   object
 11  COORDINATE                                             4560 non-null   object
 12  VALUE                                                  4560 non-null   float64
 13  STATUS                                                 0 non-null      object
 14  SYMBOL                                                 0 non-null      float64
 15  TERMINATED                                             0 non-null      float64
 16  DECIMALS                                               4560 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(10)
memory usage: 641.2+ KB

In [49]:
new_df['North American Industry Classification System (NAICS)'].nunique()

19

In [54]:
#Counting how many rows it supposed to be, in last 20 years.  
# 20 Years * 12 Months * 19 Cateories
print(20*12*new_df['North American Industry Classification System (NAICS)'].nunique())

4560

In [57]:
new_df

,REF_DATE,GEO,DGUID,North American Industry Classification System (NAICS),Statistics,Data type,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
332557,2002-01-01,Ontario,2016A000235,"Total employed, all industries",Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057717,7.1.1.1,5925.4,NaN,NaN,NaN,1
332562,2002-01-01,Ontario,2016A000235,Goods-producing sector,Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057718,7.2.1.1,1549.1,NaN,NaN,NaN,1
332567,2002-01-01,Ontario,2016A000235,"Agriculture [111-112, 1100, 1151-1152]",Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057719,7.3.1.1,70.0,NaN,NaN,NaN,1
332572,2002-01-01,Ontario,2016A000235,"Forestry, fishing, mining, quarrying, oil and ...",Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057720,7.4.1.1,34.8,NaN,NaN,NaN,1
332577,2002-01-01,Ontario,2016A000235,Utilities [22],Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057721,7.5.1.1,51.9,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586923,2021-12-01,Ontario,2016A000235,Health care and social assistance [62],Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057731,7.15.1.1,933.4,NaN,NaN,NaN,1
586928,2021-12-01,Ontario,2016A000235,"Information, culture and recreation [51, 71]",Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057732,7.16.1.1,338.9,NaN,NaN,NaN,1
586933,2021-12-01,Ontario,2016A000235,Accommodation and food services [72],Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057733,7.17.1.1,391.5,NaN,NaN,NaN,1
586938,2021-12-01,Ontario,2016A000235,Other services (except public administration) ...,Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057734,7.18.1.1,256.5,NaN,NaN,NaN,1
586943,2021-12-01,Ontario,2016A000235,Public administration [91],Estimate,Seasonally adjusted,Persons,249,thousands,3,v2057735,7.19.1.1,420.3,NaN,NaN,NaN,1

In [62]:
new_df.to_csv('Ontario_2002_2021.csv', index=False)